section{
    height: 500px;
    width: 400px;
    text-align: center;
    box-shadow: 2px 2px #888888;
    border: 2px solid #f0f1f5;
    border-radius: 10px;
    z-index: 1;
    background-color: white;
    position: relative;
    top: 300px;
    left: 750px;
    overflow-y: scroll;
}

section::-webkit-scrollbar{
    display: none;
}

input{
    padding: 2px 27px;
    font-size: 1.2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 5px;
    border: 2px solid #888888;
    border-radius: 5px;
}

::placeholder{
    position: relative;
    left: 10px;
    /* color: black; */
}

i{
    position: relative;
    left: 25px;
    bottom: 1.5px;
    color: black;
}

.container{
    background-color: #f0f1f5;
    height: 1000px;
    margin: -200px;
}

.product{
    display: flex;
    padding-top: 10px;
}

.product img{
    width: 100px;
    height: 100px;
}